<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

	<listeners>
		<listener
			class-name="com.qa.opencare.listners.ExtentReportListener" />


		<listener
			class-name="com.qa.opencare.listners.AllureReportListner"></listener>

		<listener class-name="com.qa.opencare.listners.AnnotationTransformer"></listener>


	</listeners>


	<test name="Login Page Test">
		<parameter name="browser" value="chrome" />
		<classes>

			<class name="com.qa.opencart.tests.LoginPageTest" />
		</classes>
	</test>

	<test name="Register Page Test">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.qa.opencart.tests.RegisterPageTest" />
		</classes>
	</test>

	<test name="Account Page Test">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="com.qa.opencart.tests.AccountsPageTest" />
		</classes>
	</test>

	<test name="Product Info Page Test">
		<parameter name="browser" value="safari" />
		<classes>
			<class name="com.qa.opencart.tests.ProductInfoPageTest" />
		</classes>
	</test>


</suite> <!--
Suite -->